
//@media (max-width: 414px)
@media (max-width: 414px) {
    .author-link {
        display: none;
    }
}



//@media (max-width: 375px)
@media (max-width: 375px) {
    .author-link {
        display: none;
    }
}



//@media (max-width: 320px)
@media (max-width: 320px) {
    .author-link {
        display: none;
    }
}