
<main>
    <div class="container">                    
        <h2 class="about">About me:</h2>
        <span class="about-info">I'm a beginner front-end developer from Moscow<br>
            I am currently learning JavaScript and Angular</span>
    </div>

    <div class="container"> 
        <h2 class="skills">Skills:</h2>
        <ul class="skills-info">
            <li class="skills-info__item">Google</li>
            <li class="skills-info__item">VS Code</li>
            <li class="skills-info__item">HTML5, CSS3, SCSS/SASS, Bootstrap</li>
            <li class="skills-info__item">JavaScript, TypeScript (basic, studying)</li>
            <li class="skills-info__item">Angular</li>
            <li class="skills-info__item">Gulp, BEM, jQuery, Git, GitHub</li>           
        </ul>
    </div> <!--/Container-->
</main>


