
<header>
  <div class="container">
    <div class="header-inner">

      <div class="author">
        <a routerLink="/"><img class="author-image" src="assets/images/me.png" alt="me"></a>
        <a class="author-link" routerLink="/"><span>Nikita Karavaev</span></a>
      </div>
      
      <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/projects">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact">Contact</a>
        </li>
        <li class="nav-item">
          <button type="button" class="btn btn-dark" (click)="toggleDarkTheme()">💡</button>
        </li>
      </ul>
      
    </div>
    
    <div class="gif">
      <div class="container">
          <img class="gif-image" src="assets/images/giphy.gif" alt="sparkles">
      </div>
  </div>

    <h2 class="subtitle">Hi! I'm</h2>
    <h1 class="title">Nick</h1>


  </div>
</header>



<router-outlet></router-outlet>
